#container-tablaSeven, #Content-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes loading {
    0% {
      left: -100%;
    }
  
    100% {
      left: 100%;
    }
  }
  
  .wrapper {
    border: 3px solid #858585;
    padding: 4px;
    width: 560px;
    height: 46px;
  }
  
  .space {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .loading {
    position: absolute;
    background-color: #828285;
    width: 100%;
    height: 100%;
    animation: loading 5s steps(40) infinite;
  }