/*===============================================================================
Autor: Juan Maturana
Fecha de Creación: 10/04/2023
ruta: thundersc/thunder/admin/adduser/adduser.css
===============================================================================*/
.box-permiso{
  appearance: none;
  min-width: 18px !important;
  max-width: 18px !important;
  min-height: 18px !important;
  max-height: 18px !important;
  border-radius: 0px;
  border: 1px solid var(--color-principal);
}

.box-permiso:checked{
  background-image: url('../../template/assets/images/checkedB.webp');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.7);
}

.box-permiso:focus {
  appearance: none;
  max-width: 30px;
  border: 1px solid var(--color-principal);
}

.block-singpermiso{
  align-items: center;
}

.container-permisos{
  color: #000;
  max-height: 300px;
  overflow-y: auto;
}

ul {
  padding: 0px 0px 0px 20px;
}

.sidebar{
  width: 300px;
}

.block-permiso {
  margin-bottom: 10px;
  border-radius: 6px;
  border-bottom: solid 2px var(--color-secundario);
}