

.dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    flex-wrap: nowrap;
    gap: 10rem;
}

.ag-charts-proxy-legend-toolbar {
  display: none !important;
}

.ag-charts-proxy-container {
  display: none !important;
}