/*
===============================================================================
Autor: Juan Maturana
Fecha de Creación: 2024
===============================================================================
*/
:root {
  --color-principal: #14285a;
  --color-secundario: #1d51a7;
  --color-terciario: #007bff;
  --color-data: #b7e4ff;
  --color-blanco: #ffffff;
  --color-blanco-2: #f3f8fb;
  --color-blanco-3: #f2f2f2;
  --color-acentuacion: #d92129;
  --color-shadow-1: #666666;
  --bg-tooltip: rgba(29, 81, 167, 0.8);
  --bg-span: rgba(53, 85, 166, 0.1);
  --color-border: #cdd2da;
  --dark-0: #495057;
  --dark-1: #343a40;
  --dark-2: #212629;
}

select {
  margin-top: 0px;
  border-color: var(--color-secundario);
  border-radius: 6px;
}

option {
  color: var(--color-secundario);
  font-family: Roboto, sans-serif;
  padding: 5px;
  margin: 15px;
}

.btn_consultar button {
  background-color: var(--color-blanco);
  color: var(--color-secundario);
  border: 1px solid var(--color-secundario);
  padding: 0.4rem;
  width: max-content;
  height: auto;
  text-decoration: none;
  outline: none;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn button {
  background-color: var(--color-blanco);
  color: var(--color-secundario);
  border: 1px solid var(--color-secundario);
  padding: 0.4rem;
  width: max-content;
  height: auto;
  text-decoration: none;
  outline: none;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bordes_redondeados {
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 0 solid #c0c0c0;
}

.btn_consult {
  width: 100% !important;
  margin: 8px 0px 5px 0px;
  border: 2px solid var(--color-principal);
}

.btn {
  max-width: 150px;
  margin: 8px 0px 5px 0px;
  color: var(--color-principal);
}

.shadow {
  -webkit-box-shadow: 1px 1px 8px 1px #becae29c;
  -moz-box-shadow: 1px 1px 8px 1px #becae29c;
  -o-box-shadow: 1px 1px 8px 1px #becae29c;
  box-shadow: 1px 1px 8px 1px #becae29c;
}

.select-area {
  padding: 5px;
  margin: 45px 10px 0px 10px;
  border-left: 5px solid var(--color-principal);
  background-color: var(--color-blanco-3);
  overflow: hidden
}

.btn_consult:hover {
  transition: 500ms;
  background-color: var(--color-principal) !important;
  color: var(--color-blanco);
  border: 2px solid var(--color-secundario);
}

.btn:hover {
  transition: 500ms;
  background-color: var(--color-principal) !important;
  color: var(--color-blanco);
}

.container-c-g {
  justify-content: space-around;
}

.container-button {
  display: grid;
  justify-content: center;
}

.label-c-g {
  margin: 5px 5px 0px 5px;
  align-items: center;
  align-content: center;
  align-self: center;
  color: var(--color-principal);
}

.btn-file {
  margin: 8px 0px 0px 0px;
  padding: 0;
  background: 0;
}

/*--------------------INPUT FECHA-----------------------------*/

.form_input,
.ag-text-field-input {
  padding: 0.4rem !important;
  color: var(--color-secundario) !important;
  border-color: var(--color-secundario) !important;
  border: 1px solid !important;
  height: 30px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0px !important;
  width: 65%;
}

.input-area {
  max-width: 150px;
}

.textArea-area {
  min-width: 170px;
  min-height: 60px;
}

select, input, textarea {
  min-width: 150px;
  width: 150px;
  min-height: 30px;
  height: 30px;
}


/*
===============================================================================
*/



/*
===============================================================================
Autor: Juan Maturana
Fecha de Creación: 2024
===============================================================================
*/
.container-grid {
  overflow-x: auto;
  margin-bottom: 16px;
}

.container-grid {
  margin: 0px 2px 0px 2px;
  width: 100% !important;
}

.grid-soporte {
  margin: 0px 2px 0px 2px;
}

.table {
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
  background-color: aliceblue;
}

.table-datos {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-secundario);
}

.col-title,
.col-data {
  text-align: center !important;
  color: var(--color-blanco) !important;
  font-family: Roboto, sans-serif;
}

th {
  padding: 5px !important;
}

tr,
td {
  padding: 3px !important;
}

.row-data:hover {
  transition: 300ms;
  background-color: var(--color-data) !important;
}

.col-data:hover {
  transition: 300ms;
  background-color: #007bff34 !important;
  border-color: var(--color-principal);
}

#container-tabla {
  max-height: 550px;
  /* Ajusta este valor según sea necesario */
  overflow-y: auto;
  /* Agrega un scroll vertical si es necesario */
  overflow-x: auto;
  /* Eliminamos el scroll horizontal */
}

.container-zone {
  justify-content: center;
 /*  padding: 0px 25px 0px 25px; */
}

.selected {
  background-color: #007bff34 !important;
}

.costoKWh:focus {
  outline: none;
}

pre {
  white-space: pre-wrap;
}

.datachart {
  display: flex;
  margin: 0px 5px 20px 5px;
  justify-content: space-around;
  text-align: center;
}


/**************** Media query para celulares ****************/
@media only screen and (max-width: 599px) {
  #container-tabla {
    max-height: 400px;
    overflow-x: auto;
    /* Eliminamos el scroll horizontal */
  }
}


/**************** Media query para Celulares en Horizontal ****************/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #container-tabla {
    max-height: 300px;
  }
}